// app global css in SCSS form

.q-placeholder {
  &::placeholder {
    color: $muted;
  }
}

.q-btn{
  &--outline{
    .q-btn__wrapper:before{
      border: 1px solid $border-color
    }
  }
}




:root {
  --space-xxl: 3.125rem;
  --space-xl: 1.875rem;
  --space-lg: 1.25rem;
  --space-md: 0.9375rem;
  --space-sm: 0.75rem;
}

